.controls {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.channel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-controls {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}